<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
        color: rgb(37, 32, 32);
        text-align: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      a {
        font-size: 20px;
        margin-bottom: 20px;
      }
      img {
        width: 50%;
        border-radius: 20px;
      }
    </style>
    <title>Git Pub</title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%=drink.name %></h2>
    <img src=<%=drink.image+".jpg"%> alt="<%=drink.name %>">
    <h3><%="$"+drink.price %></h3>
    <a href="/drinks/">back</a>
</body>
</html>