<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: rgb(35, 245, 245);
            color: rgb(37, 32, 32);
        }
        a {
            text-transform: capitalize;
        }
    </style>
    <title>Git Pub</title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%=food.name %></h2>
    <img src=<%=food.image+".jpg"%> alt="<%=food.name %>">
    <h3><%=food.price %></h3>
    <a href="/food/">back</a>
</body>
</html>